.bg-law {
    background-color: #1a237e;
}

.nav-pills .nav-link.active {
    background-color: #fff;
}

.login-container {
    max-width: 400px;
    margin: 2rem auto;
}

.tournament-card {
    transition: transform 0.2s;
}

.tournament-card:hover {
    transform: translateY(-5px);
}

.auth-tabs {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
}

.hero-section {
    /*    background: linear-gradient(rgba(26, 35, 126, 0.9), rgba(26, 35, 126, 0.9)),
        url('../img/banner/noticia2.avif');*/
    position: relative;
    height: 90vh;
    color: white;
    background-size: cover;
    padding: 60px 0;
    background-color: transparent;
}

.carousel-item img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#torneios {
    margin-top: 60px;
}

/*ESTATÍSTICA*/
#estatistica .text-center {
    padding: 10px;
}


#estatistica .col-6:hover {
    border-radius: 20px;
    background: rgba(200, 200, 200, 0.1);
    transition: transform 0.05s ease;
    transform: scale(1.05);
    /* Leve zoom para realçar o efeito */
}

#estatistica .col-6 div {
    transition: transform 0.05s ease, box-shadow 0.05s ease;
    padding: 15px;
}

#estatistica .col-6 div:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#torneios .tournament-card:hover {
    background: rgba(200, 200, 200, 0.5);
    transition: transform 0.05s ease;
}